.authform{:style => "max-width: 800px;"}
  = form_for @course, :html => { :role => 'form'} do |f|
    %h3 Nuevo Curso
    .form-group
      = f.label :title, "Titulo"
      = f.text_field :title, class: 'form-control'
    .form-group
      = f.label :description, "Descripción"
      = f.text_area :description, class: 'form-control'
    .form-group
      = f.label :level, "Nivel"
      = f.text_field :level, class: 'form-control'
    = f.submit 'Registrar Curso', :class => 'button right'
